/* "Soft" Reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Geral */
body {
    background-color: #002124;
    font-family: 'Nunito Sans', sans-serif;
    height: 100vh;
    font-size: 13px;
}

/* Responsividade >600px */
@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

/* Hiperlinks */
.menu a {
    color: #112b36;
    text-decoration: none;
    transition: background-color, color, 0.2s;
}

.menu a:hover {
    background-color: #112b36ad;
}

a {
    color: aquamarine;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: aquamarine;
}


.icones-princ {
    text-align: center;
    font-size: 85px;
    list-style: none;
    transition: transform 0.1s;
}

.icones-princ:active,
.icones-princ:hover {
    transform: scale(1.1);
}

.incones {
    display: grid;
    gap: 0.1em;
    grid-template-columns: 10em 10em;
    justify-content: center;
    opacity: 1;

}

/* Leiaute ajustes */
header {
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    header {
        height: 100vh;
    }
}

.secao-one,
.secao-um {
    min-height: 95vh;
}

.secao-one {
    background-color: rgba(0, 54, 36, 0.692);
}

.secao-um {
    background-color: rgba(0, 54, 54, 0.692);
}

/* Menu */
.menu {
    height: 25px;
    z-index: 1;
}


.menu a {
    display: block;
    padding: 10px 20px;
}


.menu ul {
        display: flex;
        justify-content: space-around;
}


.menu li {
        list-style: none;
        font-family: 'Nunito Sans', sans-serif;
        

}

.menu{
    position: fixed;
    top: 0;
    width: 100vw;
}

.menu ul {
    background-color: #11ffd5; 
}

/* Textos */
.subtitulo-site,
.texto-corrido,
.texto-pp,
.titulo-secao,
.titulo-site {
    color: whitesmoke;
}

.subtitulo-site,
.texto-pp,
.titulo-secao,
.titulo-site {
    text-align: center;
}

.titulo-secao,
.titulo-site {
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    padding-top: 0.7em;
}

.titulo-secao {
    padding-top: 0.7em;
    padding-bottom: 0.2em;
}

.subtitulo-site {
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.texto-pp,
.texto-corrido {
    padding-left: 2em;
    padding-right: 2em;
}

.secao-one p {
    text-align: justify;
    text-indent: 1em;
    margin-bottom: 0.4em;
    
}

@media (min-width: 1200px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}

.texto-portifolio {
    color: whitesmoke;
    font-size: 19px;
    font-style: italic;
    padding-left: 2em;
}


/* Imagens */
.fundo-img{
    background-image: url(../imagens/Sky.png);
    filter: blur(8px);
    height: 101%;
    width: 101%;
    position:fixed;
    -webkit-filter: blur(8px);
    z-index: -999;
}

.avatar-img {
    border-radius: 100%;
    display: block;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
    width: auto;
}

#minha-foto {
    text-align: center;
    float: none;
   
}

#a-foto {
    height: 18em;
    
}

@media (min-width: 477px) {
    #a-foto {
        /* margin: 0em; */
        /* -- */
        margin-left: 3em;
        margin-right: 3em;
    }
    #minha-foto {
        float: right;
        /* -- */

    }
}

.portifolio-img {
    height: auto;
    transition: transform .1s;
    width: 330px;
}

.portifolio-img:active,
.portifolio-img:hover {
    transform: scale(1.1);
}

.secao-um .grade {
    display: grid;
    gap: 2em;
    justify-content: center;
    /* text-align: center; */
}

@media (min-width: 618px) {
    .secao-um .grade {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 468px) {
    .portifolio-img {
        width: 350px;
    }
}
